<div class = "row">
  <div class = "col-xs-6 col-xs-offset-3">
    <h1>Log In</h1>
  </div>
</div>

<div class = "row">
 <div class = "col-xs-6 col-xs-offset-3">

    <%= form_for @user, url: "/sessions", method: "post", class: "form-control" do |f| %>

      <div class="row top-spacer">
        <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
      </div>
      <div class="row top-spacer">
        <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      </div>
      <div class="row top-spacer">
        <%= f.submit "Sign In", class: "btn btn-success top-spacer btn-lg" %>
      </div>

    <% end %>

  </div>
</div>
