<div class = "row">
  <div class = "col-xs-12">
    <img src="http://placehold.it/1250x600" class="full-width">
  </div>
</div>

<div class = "row">
  <hr />
</div>
<div class = "row">
  <div class = "col-xs-8 col-xs-offset-2">
    <div class = "row">
      <h5><em>Currently serving:</em></h5>
    </div>
    <% @cities.each do |city| %>
      <div class = "row">
        <h2><%= link_to city.name, city_path(city) %></h2>
      </div>
    <% end %>
  </div>
</div>
