/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

$color-brand: #0060A4;
$color-bdk:   #152042;
$color-one:   #65D2EB;
$color-two:   #3ADB89;
$color-three: #3954B0;
$color-four:  #FF3D65;
$color-white: #FFFFFF;
$color-black: #051A1E;
$color-grey:  #C5C5C5;
$background:  #F7F7FA;

$font-headings: 'Khula', sans-serif;
$font-paragraph: 'Lato', sans-serif;

/*div {
  border: 1px dotted grey;
}*/

a {
  color: $color-three;
}

a:hover {
  color: mix($color-three, $color-black);
  text-decoration: none;
}

h3 a {
  color: mix($color-bdk,$color-brand);
}

body {
  background-color: $background;
  color: $color-black;
  font-family: $font-paragraph;
  padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
  font-weight: 600;
  color: $color-black;
}

.bottom-margin {
  margin-bottom: 80px;
}

// Restyle Bootstrap Buttons
.btn {
  border: 0;
  border-radius: 0;
  box-shadow: 2px 2px 1px $color-grey;
  font-family: $font-paragraph;
}
.btn-danger {
  background-color: $color-four;
}
.btn-danger:hover {
  background-color: mix($color-four, $color-black);
}
.btn-info {
  background-color: $color-one;
}
.btn-info:hover {
  background-color: mix($color-one, $color-black);
}
.btn-primary {
  background-color: $color-three;
}
.btn-primary:hover {
  background-color: mix($color-three, $color-black);
}
.btn-success {
  background-color: $color-two;
}
.btn-success:hover {
  background-color: mix($color-two, $color-black);
}
.btn-warning {
  background-color: $color-four;
}
.btn-warning:hover {
  background-color: mix($color-four, $color-black);
}

.card {
  background-color: #ffffff;
  box-shadow: 4px 4px 2px $color-grey;
  margin: 0 20px 20px 20px;
  padding-bottom: 15px;
  padding-top: 15px;

}

.card-small {
  background-color: #ffffff;
  box-shadow: 4px 4px 2px $color-grey;
  margin-bottom: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.color-brand{
  color: $color-brand;
}

.error-msg {
  font-weight: 500;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.full-width {
  width: 100% !important;
}

.grey {
  color: mix($color-black, $color-grey);
}

.grey-border {
  border: 1px solid mix(#F7F7FA, $color-grey);

}

.left-spacer {
  margin-left: 15px;
}

.navbar-inverse {
  // background-color: $color-brand;
  background: $color-three; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, $color-bdk, $color-three); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $color-bdk, $color-three); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $color-bdk, $color-three); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $color-bdk, $color-three); /* Standard syntax */

  border: mix($color-brand, $color-black);
}

// "Vagabond" text in header
.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-toggle {
  border-color: #ffffff;
}

.navbar-toggle:hover{
  background-color: mix($color-brand, $color-black);
}

.shadow {
  box-shadow: 4px 4px 2px $color-grey;
}

.top-marg {
  margin-top: 40px;
}

.top-marg-small {
  margin-top: 20px;
}

.top-spacer {
  margin-top: 20px;
}

// Bootstrap navbar overrides
#nav a {
  color: $color-white;
}

#nav a:hover {
  color: mix($color-white,$color-grey);
}

#nav #nav-container #nav-collapse ul li ul.dropdown-menu li a {
  color: $color-black;
}

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #ffffff;
    box-shadow: 2px 2px 2px mix($color-black, $color-grey);
  }

  .navbar-inverse .navbar-nav li a {
    color: $color-black !important;
  }

  .navbar-inverse .navbar-nav>.open>a,
  .navbar-inverse .navbar-nav>.open>a:focus,
  .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: mix($color-three, $color-white);
  }
}
